<div id="ZOOM_DEMO" fxLayout="row wrap" fxLayoutAlign="center">
  <canvas id="background-canvas" style="position:absolute; top:-99999999px; left:-9999999999px;"></canvas>

  <mat-card class="card-item zoom-meeting" fxFlex="100%" fxFlex.gt-md="90%">
    <form (ngSubmit)="joinZoomMeeting()" [formGroup]="fg">
      <mat-card-header>
        <div mat-card-avatar class="card-item-image"></div>
        <mat-card-title>Zoom Demo</mat-card-title>
        <mat-card-subtitle>Tessa Recording a zoom meeting</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="button-container" fxLayout="row wrap" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlexAlign="center">
            <mat-label>Paste Meeting Link</mat-label>
            <input
              matInput
              name="meetingLink"
              type="text"
              placeholder="Set the Meeting link"
              [formControlName]="'meetingLink'"
            />
          </mat-form-field>

          <button mat-button type="button"  fxFlexAlign="center" (click)="setMeetingData($event)">
            Set Meeting Data
          </button>

          <mat-form-field appearance="outline"  fxFlexAlign="center">
            <mat-label>Meeting number</mat-label>
            <input
              matInput
              name="meetingNumber"
              type="text"
              placeholder="Set the Meeting number"
              required
              [formControlName]="'meetingNumber'"
            />
          </mat-form-field>

          <mat-form-field appearance="outline"  fxFlexAlign="center">
            <mat-label>Meeting password</mat-label>
            <input
              matInput
              name="meetingPassword"
              placeholder="Set the Meeting password"
              type="text"
              required
              [formControlName]="'meetingPassword'"
            />
          </mat-form-field>

          <button id="join-meeting" mat-raised-button color="primary" type="submit"  fxFlexAlign="center">
            <span class="material-icons-two-tone icon-white">face</span> Join Tessa to the Meeting
          </button>
        </div>
        <hr/>
        <div class="button-container" fxLayout="row wrap" fxLayoutAlign="space-between">
          <button
            id="recording-toggle1"
            mat-button
            color="warn"
            type="button"
            (click)="handleRecordingBtnClick($event)">
            <span *ngIf="!zoomService.isRecording" ><span class="material-icons-two-tone icon-red">fiber_manual_record</span> Start Recording</span>
            <span *ngIf="zoomService.isRecording" ><span class="material-icons-two-tone icon-red">stop</span> Stop Recording</span>
          </button>

          <button mat-button type="button" (click)="playRecording($event)">
            <span class="material-icons-two-tone icon-blue">play_arrow</span> Play Recording
          </button>

          <button id="download-video-recording1" mat-button type="button" (click)="downloadVideoRecording($event)">
            <span class="material-icons-two-tone icon-blue">movie</span> Download Video
          </button>

          <button id="download-audio-recording1" mat-button type="button" (click)="downloadAudioRecording($event)">
            <span class="material-icons-two-tone icon-blue">music_video</span> Download Audio
          </button>

          <button type="button"  mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons-two-tone">widgets</span> Available media devices
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let device of mediaDevices">
              <span *ngIf="(device.kind === 'audioinput')" class="material-icons-two-tone">keyboard_voice</span>
              <span *ngIf="(device.kind === 'videoinput')" class="material-icons-two-tone">videocam</span>
              <span *ngIf="(device.kind === 'audiooutput')" class="material-icons-two-tone">volume_up</span>
              {{device.label}}
            </button>
          </mat-menu>
        </div>
        <hr>

        <div style="display: inline-block">
          <audio id="audioControlEl" controls loop></audio>
          <video id="videoControlEl" style="display: none;" class="video-element" controls playsinline loop></video>
        </div>
        <hr>
        Blobs: {{arrayOfRecordedBlobs.length}} {{blobSizeText}}
        <div class="notifications-container">
          <p>{{zoomViewTypeText}}</p>
        </div>
        <div id="zmmtg-root-container"></div>
      </mat-card-content>

    </form>
  </mat-card>

</div>
