#ZOOM_DEMO {
  margin: 0 0 50px;
  .card-item-image {
    background-image: url('../../../../../assets/zoom-meeting.png');
    background-size: cover;
  }

  .video-element {
    background-color: #222222;
    border-radius: 3px;
    width: 200px;
    height: 100px;
    margin: 0 10px;
  }

  #zmmtg-root-container {
    width: 100%;
    position: relative;
    background-color: #222222;
    // height: calc(100vh - 500px);
  }

  mat-form-field {
    margin: 5px;
  }
}
