#ZOOM_MEETING_RECORDER{

  .card-item-image{
    background-image: url('../../../../../assets/zoom-meeting.png');
    background-size: cover;
  }

  #ZMR_PLAYER{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99999;
    width: 400px;
    height: 230px;
    padding: 1px;
    display: none;

    video{
      background-color: #222222;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  #zmmtg-root-container {
    width: 100%;
    position: relative;
    background-color: #222222;
    height: calc(100vh - 500px);
  }

  mat-form-field {
    margin: 5px;
  }
}
