<div id="ZOOM_MEETING_RECORDER">
  <canvas id="background-canvas" style="position:absolute; top:-99999999px; left:-9999999999px;"></canvas>
  <mat-card id="ZMR_PLAYER">
    <video id="recorded" playsinline loop></video>
  </mat-card>
  <mat-card class="card-item zoom-meeting">
    <form (ngSubmit)="joinMeeting()" [formGroup]="fg">
      <mat-card-header>
        <div mat-card-avatar class="card-item-image"></div>
        <mat-card-title>Join to zoom meeting</mat-card-title>
        <mat-card-subtitle>Join to zoom meeting Example.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Meeting number</mat-label>
          <input
            matInput
            name="meetingNumber"
            type="text"
            placeholder="Set the Meeting number"
            required
            [formControlName]="'meetingNumber'"
          />
          <mat-error *ngIf="fg.controls.meetingNumber.invalid && formSubmitted"
          >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Meeting password</mat-label>
          <input
            matInput
            name="meetingPassword"
            placeholder="Set the Meeting passWord"
            type="text"
            required
            [formControlName]="'meetingPassword'"
          />
          <mat-error
            *ngIf="fg.controls.meetingPassword.invalid && formSubmitted"
          >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>API Key</mat-label>
          <input
            matInput
            name="apiKey"
            type="text"
            placeholder="Set the Api Key"
            required
            [formControlName]="'apiKey'"
          />
          <mat-error *ngIf="fg.controls.apiKey.invalid && formSubmitted">Required Filed</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            type="text"
            placeholder="Set the Username"
            required
            [formControlName]="'username'"
          />
          <mat-error *ngIf="fg.controls.username.invalid && formSubmitted"
          >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Signature Endpoint</mat-label>
          <input
            matInput
            name="apiSecret"
            placeholder="Set the Signature Endpoint"
            required
            [formControlName]="'signatureEndpoint'"
          />
          <mat-error
            *ngIf="fg.controls.signatureEndpoint.invalid && formSubmitted"
          >Required Filed</mat-error
          >
        </mat-form-field>

        <hr>
        <div><audio id="audioRecorded" controls autoplay></audio></div>

        <hr>

        <div class="notifications-container">
          <p>{{zoomViewTypeText}} | {{currentRecordingText}} | Video blobs count: {{arrayOfRecordedBlobs.length}}</p>
        </div>

        <div id="zmmtg-root-container"></div>
        <div id="aria-notify-area"></div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Join Meeting
        </button>
        <button
          mat-button
          color="warn"
          type="button"
          (click)="handleRecordingBtnClick($event)"
          [innerHTML]="isRecording ? 'Stop Recording' : 'Start Recording'"
        ></button>
       <!-- <button
          mat-button
          color="accent"
          type="button"
          (click)="ZMR_PLAYER_Record($event)"
          [innerHTML]="'ZMR_PLAYER_Record'"
        ></button>-->
        <button mat-button type="button" (click)="playRecording($event)">
          Play Recording (👉)
        </button>
        <button mat-button type="button" (click)="downloadRecording($event)">
          Download Recording (👇)
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
