#ZOOM_LIVE_STREAMING{
  width: 100%;

  .card-item {
    display: inline-flex;
    margin: 10px;
    flex-direction: column;
    //max-width: 300px;

    mat-form-field {
      margin-left: 5px;
    }

    .mat-card-header-text{
      margin: 0;
    }

    .card-item-image{
      background-image: url('../../../../../assets/zoom-meeting.png');
      background-size: cover;
    }
  }
}
