<div id="ZOOM_LIVE_STREAMING">
  <mat-card class="card-item zoom-meeting">
    <mat-card-header>
      <div mat-card-avatar class="card-item-image"></div>
      <mat-card-title>Zoom Live Streaming example</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- added on import -->
<!--      <div id="zmmtg-root-container"></div>-->
      <div id="aria-notify-area"></div>
      <!--      <iframe style="width: 100%"  #iframe src="https://zoom.us/wc/3044848838/start" (load)="onLoadIFrame(iframe)"></iframe>-->
    </mat-card-content>

    <mat-card-actions>
<!--      <button mat-raised-button color="primary" (click)="joinMeeting()">Join Meeting</button>-->
      <!--      <button mat-button (click)="stopCameraOnCard1('video#card1')">Stop</button>-->
    </mat-card-actions>
  </mat-card>
</div>
