<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item (click)="showZoomSubmenu = !showZoomSubmenu">
        Zoom
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showZoomSubmenu}">expand_more</mat-icon>
      </mat-list-item>
      <div class="zoom-submenu" [ngClass]="{'collapsed': !showZoomSubmenu}">
<!--        <a mat-list-item [routerLinkActive]="'active-link'" [routerLink]="'web-rtc/zoom/join-zoom-meeting'">Join Zoom Meeting</a>-->
        <a mat-list-item [routerLinkActive]="'active-link'" [routerLink]="'web-rtc/zoom/zoom-meeting-recorder'">Zoom Meeting Recorder</a>
        <a id="zoom-meeting-page" mat-list-item [routerLinkActive]="'active-link'" [routerLink]="'web-rtc/zoom/zoom-demo'">Zoom Demo</a>
<!--        <a mat-list-item [routerLinkActive]="'active-link'" [routerLink]="'web-rtc/zoom/zoom-live-streaming'">Zoom Live Streaming</a>-->
      </div>
      <a mat-list-item [routerLinkActive]="'active-link'" [routerLink]="'web-rtc/ms'">MicroSoft Integration + Web RTC</a>
<!--      <a mat-list-item href="#">Link 2</a>-->
<!--      <a mat-list-item href="#">Link 3</a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) || true">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Zoom Demo</span>

      <div class="flex-spacer"></div>

      <button id="recording-toggle" mat-button type="button" (click)="handleRecordingBtnClick($event)">
        <span *ngIf="!zoomService.isRecording"><mat-icon>fiber_manual_record</mat-icon> Start Recording</span>
        <span *ngIf="zoomService.isRecording"><mat-icon>stop</mat-icon> Stop Recording</span>
      </button>

      <button id="download-video-recording" mat-button type="button" (click)="downloadVideoRecording($event)">
        <mat-icon>movie</mat-icon> Download Video
      </button>

      <button id="download-audio-recording" mat-button type="button" (click)="downloadAudioRecording($event)">
        <mat-icon>music_video</mat-icon> Download Audio
      </button>

      <button mat-icon-button
              (click)="toggleZoomWindow($event)"
      id="toggle-zoom-window">
        <mat-icon *ngIf="isZoomMeetingShown">visibility</mat-icon>
        <mat-icon *ngIf="!isZoomMeetingShown">visibility_off</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container-body">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
