.sidenav-container {
  height: 100%;

  .flex-spacer{
    flex-grow: 1;
  }

  .active-link{
    color: #3f51b5;
    font-weight: bolder;
  }

  .menu-button{
    transition: all 300ms ease;
    &.rotated {
      transform: rotateX(180deg);
      transition: all 300ms ease;
    }
  }

  .zoom-submenu {
    padding-left: 30px;
    transition: all 300ms ease;
    &.collapsed {
      overflow-y: hidden;
      transform: scaleY(0);
      transform-origin: top;
      height: 0;
    }
  }
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-body{
  padding: 10px;
  height: calc(100vh - 64px);
  width: 100%;
}

