<div id="ZOOM-WebRTC">
  <mat-card class="card-item zoom-meeting">
    <mat-card-header>
      <div mat-card-avatar class="card-item-image"></div>
      <mat-card-title>Join to zoom meeting</mat-card-title>
      <mat-card-subtitle>Join to zoom meeting Example.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- added on import -->
      <div id="zmmtg-root-container"></div>
      <div id="aria-notify-area"></div>
<!--      <iframe style="width: 100%"  #iframe src="https://zoom.us/wc/3044848838/start" (load)="onLoadIFrame(iframe)"></iframe>-->
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="joinMeeting()">Join Meeting</button>
<!--      <button mat-button (click)="stopCameraOnCard1('video#card1')">Stop</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-item zoom-mirror">
    <mat-card-header>
      <div mat-card-avatar class="card-item-image"></div>
      <mat-card-title>Display the zoom video</mat-card-title>
      <mat-card-subtitle>It captures the zoom meeting canvas stream with webRTC.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <video id="zoom-mirror-video-el" autoplay playsinline></video>
      <audio id="zoom-mirror-audio-el" controls autoplay></audio>
    </mat-card-content>

    <mat-card-footer>
      <div id="zoom-mirror-errorMsg"></div>
    </mat-card-footer>

    <mat-card-actions>
      <button mat-button (click)="getAV()">Start</button>
      <button mat-button (click)="stopCameraOnCard1('video#card1')">Stop</button>
    </mat-card-actions>
  </mat-card>

  <!--<mat-card class="card-item">
    <mat-card-header>
      <div mat-card-avatar class="card-item-image"></div>
      <mat-card-title>Display the video stream</mat-card-title>
      <mat-card-subtitle>Display the video stream from the User Camera in a video element.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <video id="card1" autoplay playsinline></video>
    </mat-card-content>

    <mat-card-footer>
      <div id="errorMsg"></div>
    </mat-card-footer>

    <mat-card-actions>
      <button mat-button (click)="playVideoOnCard1()">Start</button>
      <button mat-button (click)="stopCameraOnCard1('video#card1')">Stop</button>
    </mat-card-actions>
  </mat-card>-->

</div>
