

#ZOOM-WebRTC{
  width: 100%;

  .card-item{
    display: inline-flex;
    margin: 10px;
    flex-direction: column;
    //max-width: 300px;

    &.zoom-meeting {
      width: 700px;

      .card-item-image{
        background-image: url('../../../../assets/zoom-meeting.png');
        background-size: cover;
      }
    }

    .mat-card-header-text{
      margin: 0;
    }

    .card-item-image{
      background-image: url('../../../../assets/webrtc-icon-192x192.png');
      background-size: cover;
    }

    video{
      background-color: #222;
      width: 100%;
      height: 225px;
      display: inline-block;
    }

    #zmmtg-root-container {
      width: 100%;
      height: 500px;
      position: relative;
      background-color: #222222;
    }
  }
}
