/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100vh;
  min-width: 400px !important;
}
body{ margin: 0; }

#zmmtg-root{
  z-index: -1;
}

/*#zmmtg-root {
  position: relative !important;
  display: none;
}

.meeting-app,
.meeting-client-inner,
.active-video-container,
.active-video-container__wrap,
.active-video-container__avatar,
#wc-loading{
  position: relative !important;
  width: 100% !important;
  height: calc(100vh - 500px) !important;
}

.meeting-client{
  position: relative !important;
  height: calc(100vh - 500px) !important;
}

#wc-loading{
  position: relative !important;
  width: 100% !important;
  height: calc(100vh - 500px) !important;
}*/

button {
  height: 50px;
  span{
    vertical-align: middle;
  }
}

.mat-form-field {
  .mat-form-field-wrapper{
    padding: 0;
  }
}

mat-icon{
  vertical-align: middle;
}

.mat-menu-panel {
  max-width: 500px !important;
}

.icon-white {
  filter: invert(99%) sepia(98%) saturate(0%) hue-rotate(223deg) brightness(114%) contrast(101%);
}
.icon-blue {
  filter: invert(27%) sepia(28%) saturate(3699%) hue-rotate(215deg) brightness(94%) contrast(87%);
}

.icon-red {
  filter: invert(8%) sepia(94%) saturate(4590%) hue-rotate(358deg) brightness(101%) contrast(112%);
}
