#JOIN_ZOOM_MEETING {
  width: 100%;

  video{
    width: 350px;
    height: 300px;
    background-color: #262626;
    margin-left: 5px;
  }

  .card-item {
    display: inline-flex;
    margin: 10px;
    flex-direction: column;
    //max-width: 300px;

    mat-form-field {
      margin-left: 5px;
    }

    mat-card-actions {
      text-align: right;
      margin-right: 10px;
    }

    &.zoom-meeting {
      width: 700px;

      .card-item-image {
        background-image: url("../../../../../assets/zoom-meeting.png");
        background-size: cover;
      }
    }

    .mat-card-header-text {
      margin: 0;
    }

    .card-item-image {
      background-image: url("../../../../../assets/webrtc-icon-192x192.png");
      background-size: cover;
    }

    .log-holder{
      max-width: 710px;
      display: block;
      #log {
        background-color: #2b2b2b;
        width: 100%;
        height: 225px;
        display: inline-block;
        color: #dcb070;
        padding: 20px;
        word-break: break-all;
        overflow: hidden scroll;
      }
    }


    #zmmtg-root-container {
      width: 100%;
      height: 500px;
      position: relative;
      background-color: #222222;
    }
  }
}
