<div id="JOIN_ZOOM_MEETING">
  <mat-card class="card-item zoom-meeting">
    <form (ngSubmit)="joinMeeting()" [formGroup]="fg">
      <mat-card-header>
        <div mat-card-avatar class="card-item-image"></div>
        <mat-card-title>Join to zoom meeting</mat-card-title>
        <mat-card-subtitle>Join to zoom meeting Example.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Meeting number</mat-label>
          <input
            matInput
            name="meetingNumber"
            type="text"
            placeholder="Set the Meeting number"
            required
            [formControlName]="'meetingNumber'"
          />
          <mat-error *ngIf="fg.controls.meetingNumber.invalid && formSubmitted"
            >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Meeting password</mat-label>
          <input
            matInput
            name="meetingPassword"
            placeholder="Set the Meeting passWord"
            type="text"
            required
            [formControlName]="'meetingPassword'"
          />
          <mat-error
            *ngIf="fg.controls.meetingPassword.invalid && formSubmitted"
            >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>API Key</mat-label>
          <input
            matInput
            name="apiKey"
            type="text"
            placeholder="Set the Api Key"
            required
            [formControlName]="'apiKey'"
          />
          <mat-error *ngIf="fg.controls.apiKey.invalid && formSubmitted"
            >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            type="text"
            placeholder="Set the Username"
            required
            [formControlName]="'username'"
          />
          <mat-error *ngIf="fg.controls.username.invalid && formSubmitted"
            >Required Filed</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Signature Endpoint</mat-label>
          <input
            matInput
            name="apiSecret"
            placeholder="Set the Signature Endpoint"
            required
            [formControlName]="'signatureEndpoint'"
          />
          <mat-error
            *ngIf="fg.controls.signatureEndpoint.invalid && formSubmitted"
            >Required Filed</mat-error
          >
        </mat-form-field>

        <div class="notifications-container">
          <p [innerHTML]="zoomViewTypeText"></p>
        </div>

        <div id="zmmtg-root-container"></div>
        <div id="aria-notify-area"></div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          Join Meeting
        </button>
        <button
          mat-button
          color="warn"
          (click)="handleRecordingBtnClick($event, 'zoom')"
          [innerHTML]="recordButtonTextContent"
        ></button>
        <button mat-button (click)="playRecording($event)">
          Play Recording (👉)
        </button>
        <button mat-button (click)="downloadRecording($event)">
          Download Recording (👇)
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-card class="card-item">
    <mat-card-header>
      <mat-card-title>Log</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <video id="gum" playsinline autoplay muted></video>
      <video id="recorded" playsinline loop muted></video>

      <div>
        <span id="errorMsg"></span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="startCamera($event)">Start Camera</button>
      <button
        mat-button
        (click)="handleRecordingBtnClick($event, 'camera')"
        [innerHTML]="recordButtonTextContent"
      ></button>
      <button mat-button (click)="playRecording($event)">Play Recording</button>
      <button mat-button (click)="stopRecording()">Stop</button>
    </mat-card-actions>

    <div class="log-holder">
      <div id="log"></div>
    </div>
  </mat-card>
</div>
